# Sesion 08 de Python Study Group for Beginners
## Tuplas
### Tupla de Enteros

In [1]:
enteros = (1,2,3,4,5,6)
print (enteros)
print (type(enteros))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Tupla de cadenas

In [2]:
cadenas = ("hola", "mundo", "desde", "python")
print (cadenas)
print (type(cadenas))

('hola', 'mundo', 'desde', 'python')
<class 'tuple'>

### Tupla Mixta

In [3]:
mixta = (1, "hola", True, 2.5)
print (mixta)
print (type(mixta))

(1, 'hola', True, 2.5)
<class 'tuple'>

### Tupla Vacia

In [4]:
vacia = ()
print (vacia)
print (type(vacia))

()
<class 'tuple'>

### Tupla de un elemento

In [5]:
uno = (1,)
print (uno)
print (type(uno))

(1,)
<class 'tuple'>

### Tupla con funcion tuple()

In [6]:
constructor = tuple("hola")
print (constructor)
print (type(constructor))

('h', 'o', 'l', 'a')
<class 'tuple'>

### Indexado Positivo

In [7]:
tupla = (1,2.0, "hola", True)
print (tupla[0], type(tupla[0]))
print (tupla[1], type(tupla[1]))
print (tupla[2], type(tupla[2]))
print (tupla[3], type(tupla[3]))

1 <class 'int'>
2.0 <class 'float'>
hola <class 'str'>
True <class 'bool'>

### Indexado Negativo

In [8]:
tupla = (1,2.0, "hola", True)
print (tupla[-1], type(tupla[-1]))
print (tupla[-2], type(tupla[-2]))
print (tupla[-3], type(tupla[-3]))
print (tupla[-4], type(tupla[-4]))

True <class 'bool'>
hola <class 'str'>
2.0 <class 'float'>
1 <class 'int'>

### Slicing

In [9]:
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[0:5]
print (sub_tupla)
print (type(sub_tupla))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 1, 2, 3, 4)
<class 'tuple'>

#### Saltos Positivos

In [10]:
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[0:10:2]
print (sub_tupla)
print (type(sub_tupla))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 2, 4, 6, 8)
<class 'tuple'>

#### Saltos Negativos

In [11]:
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[7:2:-2]
print (sub_tupla)
print (type(sub_tupla))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(7, 5, 3)
<class 'tuple'>

### Concatenacion

In [12]:
tupla1 = (1,2,3)
tupla2 = (4,5,6)
concatenar = tupla1 + tupla2
print (tupla1, tupla2)
print (concatenar)
print (type(concatenar))

(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Repetir

In [13]:
tupla = (1,2,3)
repetir = tupla * 3
print (tupla)
print (repetir)
print (type(repetir))

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
<class 'tuple'>

### Asignacion Multiple

In [14]:
persona = ("Jhon", "Doe", 22, 1.75)
nombre, apellido, edad, estatura = persona
print (persona)
print (nombre)
print (apellido)
print (edad)
print (estatura)

('Jhon', 'Doe', 22, 1.75)
Jhon
Doe
22
1.75

### Metodos
#### index()

In [15]:
tupla = (1,2.0, "hola", True)
print (tupla.index(2.0))
print (tupla.index("hola"))

1
2

#### count()

In [16]:
tupla = (1, 2.0, "hola", False, "hola", "HOLA")
print (tupla.count(1))
print (tupla.count("hola"))
print (tupla.count(10))

1
2
0

#### len()

In [17]:
tupla = (1,2.0, "hola", True)
longitud = len(tupla)
print (tupla)
print (longitud)

(1, 2.0, 'hola', True)
4

#### max()

In [18]:
tupla = (1,2,10,5,8,0)
maximo = max(tupla)
print (tupla)
print (maximo)

(1, 2, 10, 5, 8, 0)
10

#### min()

In [19]:
tupla = ("a","z","c","b","f","d")
minimo = min(tupla)
print (tupla)
print (minimo)

('a', 'z', 'c', 'b', 'f', 'd')
a

#### sum()

In [20]:
tupla = (1.0, 0.5, 2.5, 3.1)
suma = sum(tupla)
print (tupla)
print (suma)

(1.0, 0.5, 2.5, 3.1)
7.1

### Anidacion

In [21]:
tupla = (1,2,3, (4,5,6))
print (tupla, type(tupla))
anidado = tupla[3]
print (anidado, type(anidado))
valor_anidado_0 = anidado[0]
print (valor_anidado_0, type(valor_anidado_0))
valor_anidado_1 = tupla[3][1]
print (valor_anidado_1, type(valor_anidado_1))

(1, 2, 3, (4, 5, 6)) <class 'tuple'>
(4, 5, 6) <class 'tuple'>
4 <class 'int'>
5 <class 'int'>